:root {
    --red: #c13333;
    --card-color: #eddec3;
}

body {
    background-image: url(https://unicornoverlord.atlus.com/media/img/hero/header_bg_fhd.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-family: 'Akaya Telivigala';
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    text-align: center;
    height: 90vh;
}

header figure img {
    width: 200px;
}

h1 {

    font-size: 7rem;
    margin: 0;
    padding-top: 20%;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    color: var(--red);
}

.title-info {
    font-size: 1.6rem;
}

header {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

main section {
    margin-bottom: 200px;
}

#stack-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#stack-icons img {
    width: 72px;
    height: 72px;
    margin-right: 10px;
}

.text-rotation {
    -webkit-transform: rotate(-5deg);
}

.title {
    font-family: 'Carosello', sans-serif;
    color: var(--red);
    text-shadow: -4px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    font-weight: 100;
}

/* WORK STYLES */

.work-items {
    display: flex;
    justify-content: center;
}

.work-container {
    width: 250px;
    min-width: 250px;
    height: 360px;
    background-color: var(--card-color);
    border-radius: 15px;
    box-shadow: -8px 6px 7px 1px rgba(0, 0, 0, 0.85);
    border: 4px solid var(--red);
}

.work-container .work-container__title {
    padding: 17px;
    font-weight: 600;
    color: var(--red);
}

.work-container figure {
    margin: 0;
    height: 162px;
}

.work-container figure img {
    width: 100%;
    height: 100%;
}

.work-container .work-container__info {
    padding: 5px 17px 0 17px;
}

.work-container .work-container__info label {
    font-weight: 600;
    color: var(--red);
}

.work-container .work-container__info p {
    margin: 0;
    margin-bottom: 5px;
}

.work-container .work-container__rip {
    height: 20px;
    margin: 0 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAAaSURBVBhXY5g7f97/2XPn/AcCBmSMQ+I/AwB2eyNBlrqzUQAAAABJRU5ErkJggg==);
    background-size: 4px 2px;
    background-repeat: repeat-x;
    background-position: center;
    position: relative;
}

.work-container .work-container__footer {
    justify-content: center;
    display: flex;
}

.btn {
    border-radius: 26px;
    height: 29px;
    font-size: 1.1rem;
    width: 70px;
    font-family: 'Akaya Telivigala';
    transition-duration: 1s;
    transition-timing-function: ease;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--red);
    color: white;
}

/* ABOUT STYLES */

.about-container {
    display: flex;
    font-size: 1.3rem;
}

.about-container .first-column {
    width: 50%;
}

.about-container .second-column {
    width: 50%;
    padding-left: 30px;
    border-left: 4px solid var(--red)
}

/* Contact section */

.contact-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.contact-icons i:nth-child(1), i:nth-child(2), i:nth-child(3) {
    font-size: 48px;
    cursor: pointer;
    color: black;
}

.contact-icons i:nth-child(2){
    margin: 0 20px
}

form {
    display: grid;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
}

form input[type=text], input[type=tel], input[type=email], textarea {
    margin-bottom: 10px;
    border-radius: 25px;
    border: 0;
    padding-left: 10px;
}

form input[type=text], input[type=tel], input[type=email] {
    height: 26px;
}

form textarea {
    border-radius: 10px;
}

form input[type=submit] {
    margin: 0 auto;
}



@media only screen and (max-width: 740px) {
    header {
        height: 77vh;
    }
    h1 {
        font-size: 4rem;
    }
    #stack-icons img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    .about-container {
        display: block;
    }
    .about-container .first-column {
        width: 100%;
    }
    .about-container .second-column {
        width: 100%;
        padding-left: 0px;
        border-left: 0;
    }
    .title {
        margin-top: 0px;
    }
    main section {
        margin-bottom: 150px;
    }
}